.whole{
    display: flex;
    
}
.whole img{
    width: 370px;
    height: 340px;
}
.user-social{
    width: 370px;
    padding: 0;
    margin: 0;
    position: relative;
    top: 20px;
}
.user-social ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.user-social ul li{
    display: flex;
    justify-content: space-between;
    padding:5px 0 ;
    border-bottom: 1px solid #ccc;
}
.user-social ul li a{
    color: #868686;
    text-decoration: none;
    
}
.user-social ul li i{
    font-size: 20px;
}
.user-social ul li p {
    margin: 0;
}
.user-social .fa-globe{color: #1c2750;}
.user-social .fa-github{color: #000;}
.user-social .fa-twitter{color:#2dbdd3}
.user-social .fa-instagram{color: rgb(231, 75, 127);}
.user-social .fa-facebook-f{color:#21bfca}
#face{
    border-bottom: none;
}
.content{
    width: 100%;
    
}
.userName{
    color: #fff;
    background-color: #1c2750;
    width: 100%;
    padding:10px;
    display: flex;
    justify-content: space-between;
}
.userName h5 {
    color: #fff;
    font-weight: 600;
    position: relative;
    font-size: 16px;
    top: 2px;
}
.userName h5 a{
    text-decoration: none;
    color: #fff;
}
.userName h5:hover{
    transform: scalex(1.1);
}
.userRole{
    background-color: #EFEFEF;
    padding: 14.9px;
}
.userRole p {
    margin: 0;
    font-size: 18px;
}
.about{
    padding: 10px;
    width: 400px;
    position: relative;
    top: 15px;
}
.about p {
    text-align: justify;
    color: #868686;
    margin-bottom: 0;
    padding-bottom: 0;
    overflow-y: scroll;
    height: 125px;
}
p::-webkit-scrollbar{
   display: none;
}
.about .line{
    border-top: 3px solid #ccc;
    margin: 0;
    margin-left: 4px;
    margin-top: 4px;
    width: 60px;
    
}
.about h5{
    margin-bottom: 0;
    padding-bottom: 0;
}

.nav-tabs{
    border-bottom: 3px solid #1c2750;
    padding: 0;
}
.nav-tabs a{
    color: #1c2750;
    font-weight: 600;
}
.nav-tabs .nav-link{
    border-radius: 0;
    border: none;
    padding: .8rem 1.5rem;
}
.nav-tabs .nav-link.active{
    color: #fff;
    background-color: #1c2750;
    border: 1px solid #1c2750;
}
.nav-tabs li{
    padding: 0;
}
.info-content{
    width: 85%;
    position: relative;
    top:42px;
    padding-left: 10px;
}
.font-grey{
    color: #5a5a5a;
    text-align: justify;
}
.table-width{
    width: 80%;
}
table{
    border: 1px solid #ccc;
    position: relative;
    top: 30px;
}
td{
    border: 1px solid #ccc;
    
}
th{
    text-align: center;
    
}
td button{
    width: 100%;
    margin: 0;
    background-color: #1c2750;
    color: #fff;
    border: none;
    padding: 9px;
}

.tab-content .head-table{
    padding: 0;
    position: relative;
    top:7px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 0;
}
.table-width-sale{
    width: 95%;
}
.head-table .line{
    position: absolute;
    top:29px
}
.head-table button{
    background-color: #1c2750;
    color: #fff;
    border: none;
    padding: 10px;
}
.head-table i {
    color: rgb(255, 232, 29);
}
#sale table{
    top:25px
}

.left {
    text-align: left;
}
.comment{
    color: #868686;
    font-weight: 400;
}
thead{
    color: #1c2750;
}
#reviews th a{
    text-decoration: none;
    color: #1c2750;
    padding: 0;
    margin: 0;
}

.show-product{
    background-color:#fff;
    border: none;
    color: #1c2750;
    font-weight: 500;
}
.show-product:hover{
    background-color:#fff;
    border: none;
    color: #21bfca;
    
}
.date{
    text-align: center;
}

.ov{
    overflow-y: hidden;
}
.user-social a:hover{
    color: #2dbdd3;
}
.info-content .show{
    box-shadow: none;
}








@media (max-width:895px){
    .nav{
        display: flex;
    }
    .whole{
        flex-wrap: wrap;
        justify-content: center;
    }
    .info-content{
        width: 100%;
    }
}
@media (max-width:745px){
    .nav{
        display: block;
    }
}

@media (max-width:430px) {
    .whole img{
        width: 300px;
    }
    .user-social{
        width: auto;
    }
    .about{
        width: auto;
    }
    .sm-font{
        font-size: initial;
    }
    .head-table button{
        padding : 5px 10px 5px;
    }
}




















@media (max-width: 575.98px) { 
    header{
        display: block!important;
        text-align: center;
    }
}