@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Arimo:wght@600&family=Lobster+Two&family=Open+Sans:wght@300;400;500&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    padding: 5px;
}
body{
    color: #1c2750;
    scroll-behavior: smooth ;
    transition: all .8s ease;
    
}
header{
    background-color: #fff;
}
.cart{
    background-color: #e0eef6;
    border-radius: 45% 0 0 45%;
    border-right: 1px solid #fff;
    padding-left: 10px;
    padding-right: 10px;
}
.cart-number{
    background-color: #1c2750;
    color: #fff;
    border-radius: 0 45% 45% 0;
    padding: 5px 10px;
    margin-right: 0;
    border:1px solid #e0eef6;
}
.menu{
    position: relative;
    top: 6px;
}

.v a {
    text-decoration: none;
    color: #1c2750;
    font-family: 'Arimo', sans-serif;
    letter-spacing: 2px;
}
header{
    display: flex;
    justify-content: space-between;
    
}
#menu{
    user-select: none;
    
    background-color: #1c2750;
    height: 637px;
    display: none;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    line-height: 3em;
    letter-spacing: 6px;
    font-size: larger;
    font-weight: 600;
    font-family: 'Shadows Into Light', cursive;
   
}
.smooth{
    
    transition: all .5s ease-in-out ;
}
.menu-list{
    list-style: none;
    
}
.menu-list a{
    text-decoration: none;
    color: #fff;
}
.menu-list a:hover{
    text-decoration: none;
    color:#ccc;
}
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background-color:#e0eef6 ;
}
::-webkit-scrollbar-thumb
{
    background-color:#1c2750;
    
}




.dropdown{
    padding: 0;
}
.dropdown-menu a{
    color: #1c2750;
    font-weight: 600;
}
.dropdown-toggle:empty::after {
    content: none;
}
.user-name{
    color: #21bfca;
    font-weight: 600;
    
}
/*Left side*/
.product-section{
    display: flex;
    justify-content: space-between ;
    flex-wrap: wrap;
    border-top: 1px solid #1c2750;
}
.car {
    width: 50%;
    
}
.info{
    width:50%;
}
.img{
 
  height: 500px;
 
  margin: 10px 0;
  object-fit: scale-down;

}

.small-img{
  object-fit: contain;
  height: 50px;
}
.carousel-indicators [data-bs-target]{
    width: 50px;
    height: 5px;
}
.control{
    color: #1c2750; 
    font-size: 28px;
}

/*Right side*/

.breadcrumb {
    font-size: 12px;
    margin-bottom: 0;
}
.breadcrumb a{
    text-decoration: none;
    padding: 0;
}
.inforamtion h1{
    font-size: 22px;
    font-weight: 600;
}
.fa-star{
    color: rgb(255, 232, 29);
    padding: 0;
}
.fa-star-half-alt{
    color: rgb(255, 232, 29);
}
.price{
    font-size: 18px;
    font-weight: 600;
}
.nav-tabs{
    border-bottom: 3px solid #1c2750;
    padding: 0;
}
.nav-tabs a{
    color: #1c2750;
    font-weight: 600;
}
.nav-tabs .nav-link{
    border-radius: 0;
    border: none;
    padding: .8rem 1.5rem;
}
.nav-tabs .nav-link.active{
    color: #fff;
    background-color: #1c2750;
    border: 1px solid #1c2750;
}
.nav-tabs li{
    padding: 0;
}
.info-content{
    width: 85%;
}
.font-grey{
    color: #5a5a5a;
    text-align: justify;
}
.ov{
    height: 130px;
    overflow-y: scroll;
}
.ov::-webkit-scrollbar{
    display: none;
}
.btns{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    position: relative;
    bottom: 0;
}
.btns button{
    width: 45%;
    padding: 10px 0;
    border: 1px solid #1c2750;
    background-color: #1c2750;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
}

.features {
    list-style: none;
    padding-left: 0;
    height: 180px;
    overflow-y: scroll;
}
.features li {
    padding: 4px;
}
.features::-webkit-scrollbar{
    display: none;
}
.train p{
padding-bottom: 0;
margin-bottom: 5px;
}
.train a {
    text-decoration: none;
}
.train .btns{
    margin-top: 0;
    color: #21bfca;
}
q{
    color: #5a5a5a;
}

.submit-btn{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.submit-btn button{
    width: 20%;
    padding: 10px 0;
    border: 1px solid #1c2750;
    background-color: #1c2750;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
}

.submit-btn input{
    width: 70%;
    padding: 10px ;
    border: 1px solid #1c2750;
    outline: none;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #1c2750;
    color: #fff;
    margin-top: 20px;
    padding: 10px;
}
footer{
    text-align: center;
}
.icons i {
    padding:0 10px;
}
footer span{
    position: relative;
    top: 7px;

}









@media (max-width: 575.98px) { 
    header{
        display: block!important;
        text-align: center;
    }
}

@media (max-width:1189px) {
    .nav-tabs .nav-link{
    padding: .8rem .8rem;
}
    
}

@media (max-width:992px) {
    .car {
    width: 100%;
    
}
.info{
    width:100%;
    margin-top: 10px;
}
.img{
 
  height: 200px;
 
  margin: 10px 0;
  object-fit: scale-down;

}
}

@media (max-width:506px) {
    .nav-tabs li{
        width: 100%;
    }
    
    .btns button{
    width: 100%;
    padding: 10px 0;
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: 500;
}
.btns{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 0px;
    position: relative;
    bottom: 0;

}
.submit-btn{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    flex-wrap: wrap;
}
.submit-btn button{
    width: 100%;
    padding: 10px 0;
    font-size: 18px;
    font-weight: 500;
    margin-top: 10px;
}

.submit-btn input{
    width: 100%;
    padding: 10px ;

    outline: none;
}

.breadcrumb{
    position: relative;
    bottom: 135px;
}
.inforamtion h1{
    position: relative;
    bottom: 260px;
}
.rate{
    position: relative;
    bottom: 265px;
}
.price{
    position: relative;
    bottom: 270px;
    margin: 0;
}
.car{
    position: relative;
    top:175px;
}
.info-content{
    position: relative;
    top: 40px;
    width: 100%;
}




}
























