@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Arimo:wght@600&family=Lobster+Two&family=Open+Sans:wght@300;400;500&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    padding: 5px;
}
body{
    color: #1c2750;
    scroll-behavior: smooth ;

    
}
header{
    background-color: #fff;
}
.cart{
    background-color: #e0eef6;
    border-right: 1px solid #fff;
    
}
.cart-number{
    background-color: #1c2750;
    color: #fff;
    border:1px solid #e0eef6;
}
.menu{
    position: relative;
    top: 6px;
}

.v a {
    text-decoration: none;
    color: #1c2750;
    font-family: 'Arimo', sans-serif;
    letter-spacing: 2px;
}

#menu{
    user-select: none;
    
    background-color: #1c2750;
    height: 637px;
    display: none;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    line-height: 3em;
    letter-spacing: 6px;
    font-size: larger;
    font-weight: 600;
    font-family: 'Shadows Into Light', cursive;
   
}
.smooth{
    
    transition: all .5s ease-in-out ;
}
.menu-list{
    list-style: none;
    display: flex;
    justify-content: center;
    margin-bottom: 0;
        
}
.menu-list a{
    text-decoration: none;
    color: #1c2750;
    font-weight: 500;
}
.navbar-toggler:focus {
    box-shadow: none;
}
.navbar-toggler{
    font-size: 16px;
    position: relative;
    top: -8px;
    color: #1c2750;
}
.menu-list a:hover{
    text-decoration: none;
    color:#ccc;
}
.header-navbar{
    display: flex;
    justify-content: space-between;

}
.show{
    box-shadow: rgb(28 39 80) 0px 1px 3px;
}
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background-color:#e0eef6 ;
}
::-webkit-scrollbar-thumb
{
    background-color:#1c2750;
    
}



.dropdown{
    padding: 0;
}
.dropdown-menu a{
    color: #1c2750;
    font-weight: 600;
}
.dropdown-toggle:empty::after {
    content: none;
}
.user-name{
    color: #21bfca;
    font-weight: 600;
    
}





/*modal*/
.modal-header{
    
    height: 200px;
    background-size: cover;
    background-color: rgba(28, 39, 80, 0.7);
    background-blend-mode: soft-light;
}

.modal-content{
    padding: 0;
}
.contact-header{
    width: 100%;
    text-align: center;
}
.modal-header .btn-close{
    position: relative;
    bottom: 80px;
    background:none;
    color: #fff;
    transform: scaleX(1.4);
    font-size: 18px;
    opacity: 1;
    box-shadow: none;
}

.contact-header p{
    margin: 0;
    font-weight: 600;
    color:#fff;
}
.contact-header h4{
    font-weight: bold;
    color:#fff;
}
.modal-body input{
    width: 100%;
    margin-bottom: 12px;
    padding: 7px;
    padding-left: 15px;
    border: 1px solid #1c2750;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
    font-size: 14px;
}

.modal-body textarea{
    width: 100%;
    margin-bottom: 12px;
    padding: 7px;
    padding-left: 15px;
    border: 1px solid #1c2750;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
    font-size: 14px;
}

.modal-body h5{
    font-size: 18px;
}
.modal-body{
    padding-bottom: 0;
}
.modal-footer button{
    width: 100%;
    color: #fff;
    background-color: #1c2750;
    border: none;
}
.modal-footer button:hover{
    color:#1c2750;
    background-color: #e0eef6;
}

.modal-footer{
    border: none;
    padding-top:0 ;
}
/*new*/

/* .about{
    padding: 10px;
    width: 400px;
    position: relative;
    top: 15px;
} */
.about .line{
    border-top: 3px solid #ccc;
    margin: 0;
    margin-left: 4px;
    margin-top: 4px;
    width: 60px;
    
}
.about h4{
    margin-bottom: 20px;
    padding-bottom: 0;
    font-weight: 600;
    font-size: 20px;
}
.head-table{
    padding: 0;
    position: relative;
    top:7px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 25px;

}
.head-table .line{
    position: absolute;
    top:33px
}
.head-table span{
    position: relative;
    
    font-weight: 600;
}

.header-contact{
    background-image: url("img/10.jpg");
}
.header-wishlist{
    background-image: url("img/12.jpg");
}
.header-wishlist .contact-header h4{
    letter-spacing: 16px;
    font-size: 28px;
    position: relative;
    left: 6px;
    font-weight: 900;
}
.header-wishlist .contact-header p{
    font-size: 14px;
}
.wishlist-product{
    display: flex;
    justify-content: space-between;
    padding: 0;
    border-bottom: 1px solid #ccc;
}
.wishlist-product .left{
    display: flex;
    padding: 0;
}
.wishlist-product .left img{
    width:73px;
    height: 73px;
}
.wishlist-product .left p{

    margin: 0;
    position: relative;
}
.wishlist-product .left a{
    padding: 0;
    color: #1c2750;
    text-decoration: none;
    font-weight: 500;
}


.wishlist-product .right a{
    color: red;
    position: relative;
    top: 25px;
}
.wishlist-product .right{
    padding: 0 5px;
}






.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #1c2750;
    color: #fff;
    margin-top: 40px;
    padding: 10px;
}
footer{
    text-align: center;
}
.icons i {
    padding:0 10px;
}
footer span{
    position: relative;
    top: 7px;

}






@media (max-width: 575.98px) { 
    .header-navbar{
        justify-content: center;
        flex-wrap: wrap;
    }
}




@media (max-width:700px) {
    .menu-list{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;        
}
.menu-list li{
    border: 1px solid #ccc;
    width: 100%;
    padding: 15px;
    text-align: center;
    background-color: #1c2750;
}
.menu-list li a{
    color:#fff;
}
.menu-list {
    padding: 0;
}
#wishlist .btn-close{
    right: 15px;
    padding: 0;
}
}
