
.land{
    color:#fff;
    background-color: #1c2750;
    padding-top: 50px;
    padding-bottom: 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.land h2{
    margin-bottom: 20px;
}
.intro{
    color:  #21bfca;
    font-size: 14px;
    text-align: center;
}
.pick-up{
    padding: 0px;
    word-spacing: 29px;
}
.pick-up-edit{
    padding: 0px;
    word-spacing: 15px;
}
.land-text{
    padding-top: 80px;
}
.text{
    line-height: 30px;
    text-align: justify;
    font-size: 14px;
    width: 400px;
}
.img-div{
    padding-bottom: 0;
}
.first-img{
    border-radius: 45% 45% 0 0 ;
    padding: 0;
    width: 545px;
    height: 600px;
}
.shop-btn{
    background-color: #e0eef6; 
    color: #1c2750;
    border: 1px solid #fff; 
    padding:13px 30px;
    border-radius:25px;

}
.shop-btn:hover{
    background-color: #1c2750;
    color: #e0eef6;
}
.about{
    color:#1c2750;
    background-color: #fff;
    padding:0;
    padding-bottom: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 80px;
}
.image{
    background-color: #1c2750;
    padding: 0;
    height: 600px;
    width: 545px;
    border-radius: 0 0 45% 45%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.make-img-center{
    width:100%;
    text-align: center;
}
.second-img{
    border-radius: 50%;
    width:244px;
    height: 250px;
    padding: 0;
    border: 10px solid #e0eef6;
}
.about-text{
    
    position: relative;
    left: 10%;
    top: 80px;

}
.about-title{
    width: 400px;
    text-align: justify;
}
.contact-btn{
    float: right;
}

.products{
    
    padding-bottom: 50px;
}
.main{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 50px;
    
    
}
.main-div{
    width: 350px;
    box-shadow:2px 2px 5px #ccc;
    position: relative;
    
    padding: 0;
}
.main-div img{
    width: 100%;
    height: 233.33px;
    padding: 0;
}
.products h2{
    text-align: center;
}
.name-product{
    padding: 15px 15px 0 15px;
}
.name-product h4{
    margin-bottom: 0;
    overflow-y: hidden;
    height: 38.8px;
}

.name-product i{
    color: rgb(255, 232, 29);
    padding: 0;
}
.name-product p{
    text-align: justify;
    overflow-y: hidden;
    height: 82px;
    font-size: 14px;
    color: #5a5a5a;
    margin-bottom: 5px;
}
.more-des{
    display: flex;
    margin-bottom: 15px;
}

.more-des a{
    color:#1c2750 ;
}
.more-des a:hover{
    color:#21bfca ;
    transition: all .2s ease-in;
}
.price h5{
    margin-bottom: 0;
}
.price i{
    padding-top: 15px;    
}
.price a{
    text-decoration: none;
    color:#1c2750;
}
.price {
    background-color:#1c2750;
    color: #fff;
    padding-bottom: 0;
    height: 70px;
    padding-right: 0;
    padding-top: 0;
    padding: 0 0 0 15px;
}
.price p{
    margin-bottom: 0;
    padding-top: 0;

} 
.add-to-cart{
    background-color: #e0eef6;
    color:#1c2750;
    width:100%;
    text-align: center;
    padding-top: 23px;
    
    opacity:0;
    font-weight: 600;
}
.price-text{
    display: block;
    padding-left: 10px;
}
.cart-icon{
    background-color: #e0eef6;
    color: #1c2750;
}
.price:hover .add-to-cart{
    opacity: 1;
    transition:  .5s ease-in-out;
}
.price:hover .price-text{
    opacity: 0;
    
}
.price:hover {
    padding-left: 0;
    background-color: #e0eef6;
}
.main-div:hover{
    box-shadow:2px 2px 5px #ccc , -1px -1px 3px #ccc;
    transition: all .2s ease-in;

}
.arrow{
    background-color:#e0eef6;
    text-align: center;
    position: relative;
    top: 40px;
    padding: 10px 20px 20px 20px;

}
.arrow a{
    text-decoration: none;
    color: #1c2750;
    border-bottom: 2px solid #1c2750;
    position: relative;
    font-size: 18px;
    font-weight: 600;
}
.arrow a:after{
    position: absolute;
    margin-left: -2px;
    content: ">";
    top: 21.79px;    
    font-size: 18px;
    font-weight: 600;
}
.arrow a:hover{
    color: #21bfca;
    border-bottom: 2px solid #21bfca;
    transition: all .2s ease-in;
}
.request{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

}
.shad{
    background-color: #e0eef6;
    width: 545px;
    height: 530px;
    border-radius: 50% 50% 0 0 ;
    display: flex;
   
    justify-content: center;
    position: relative;
}

.reverse-btn{
    background-color: #1c2750;
    color: #fff;
    border: 1px solid #fff; 
    padding:13px 30px;
    border-radius:25px;
}
.reverse-btn:hover{
    color: #1c2750;
    background-color: #e0eef6;
}

.updown{
    border-radius:  0 0 50% 50% ;
}

.carousel-control-prev {
   top:70px
}
.carousel-control-next {
   top:70px
}
.control{
    color: #1c2750; 
    font-size: 28px;
}
.review{
    display: flex; 
    justify-content: center; 
    position: relative; 
    top :35px ;
    color: #1c2750;
}
.backcolor{
    background-color: #e0eef6; 
    border-radius: 50%; 
    width: 390px; 
    height: 350px; 
    position: absolute; 
    z-index: -1;
}
.carousel{
    width: 70%;
}
.carousel-item{
    position: relative;
    text-align: -webkit-center;
}

.carousel-indicators{
    bottom: -35px;
}
.stars i{
    padding: 0;
    color:rgb(255, 232, 29);
}
.stars h5{
    margin-bottom: 0;
}
.carousel-image{
    border: 3px solid #c8e2f3;
    background-color: #fff;
    border-radius: 50%;
    padding: 0;
    width: 100px;
    height: 100px;
}
.fixed-image{
    
    background-image: url("9.jpg");
    background-attachment: fixed;
    background-size: auto;
    width: 200px;
    height: 180px;
    border-radius: 50%;
    position: absolute;
    top:135px;
    border: 3px solid #c8e2f3;
}






@media (max-width: 575.98px) { 
    
    .land{
        justify-content: center;
    }
    .text{
        width: auto;
    }
    .first-img{
        width: 250px;
        margin-top: 50px;
    }
    .about-title{
        width: auto;

    }
    .about-text{
        left: 0;
        width: auto;
    }
    
    
 }
 @media (max-width:992px) {
     .carousel-control-prev{
        top: 0;
    }
    .carousel-control-next{
        top: 0;
    }
    .carousel{
        width: auto;
    }
 }
  @media (max-width:520px) {
    .backcolor{
        width: 320px;
        height: 400px;

    }
 }
@media (max-width:1100px){
.main-div{
        margin:8px;
    }
    .main-div:hover{
    transform: scaleX(1.05);
    transition: all .2s ease-in;

}
    
}



