.whole{
    display: flex;
    justify-content: space-evenly;
}

.whole img{
    width: 370px;
    height: 340px;
}
.change-profile{
    text-align: center;

}
.change-profile a{
    text-decoration: none;
    color: #1EAAF1;
    font-weight: 500;
}
.change-profile a:hover{
    color: #1c2750;
}
.user-social{
    width: 370px;
    padding: 0;
    margin: 0;
    position: relative;
    top: 20px;
}
.user-social ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.user-social ul li{
    display: flex;
    justify-content: space-between;
    padding:5px 0 ;
    border-bottom: 1px solid #ccc;
}

.user-social ul li i{
    font-size: 20px;
}
.user-social ul li p {
    margin: 0;
}
.user-social .fa-globe{color: #1c2750;}
.user-social .fa-github{color: #000;}
.user-social .fa-twitter{color:#2dbdd3}
.user-social .fa-instagram{color: rgb(231, 75, 127);}
.user-social .fa-facebook-f{color:#21bfca}
#face{
    border-bottom: none;
}
.setting{
    width: 60%;
    pading:0;
}
form{
    padding:0;
}
.user-social input{
    padding: 7px;
    padding-left: 15px;
    border: 1px solid #eee;
    outline-color: #2dbdd3;
    font-size: 13px;
    color: #1c2750;
    background-color: rgb(250 250 250);

}

.about{
    padding: 10px;
    width: 400px;
    position: relative;
    top: 15px;
}
.about .line{
    border-top: 3px solid #ccc;
    margin: 0;
    margin-left: 4px;
    margin-top: 4px;
    width: 60px;
    
}
form .about h4{
    margin-bottom: 0;
    padding-bottom: 0;
    font-weight: 600;
}
form .head-table{
    padding: 0;
    position: relative;
    top:7px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom:0 ;
}
.head-table .line{
    position: absolute;
    top:33px
}
.top{
    position: relative;
    top: 20px;
    width: 510px;
}
.name{
    display: flex;
 justify-content: space-between;
    padding: 0;
    position: relative;
    width: 500px;
   
}
.names{
    padding: 0;
}
.names p{
    margin: 0;
    margin: 0 0 10px 0;
}
.names input{
    margin-bottom: 12px;
    padding: 7px;
    padding-left: 15px;
    border: 1px solid #1c2750;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline-color: #2dbdd3;
    color: #1c2750;
}
.standard{
    padding: 0;
    
}
.standard p{
    padding: 0;
    margin: 0 0 10px 0;
}
.standard input{
    margin-bottom: 12px;
    padding: 7px;
    padding-left: 15px;
    border: 1px solid #1c2750;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline-color: #2dbdd3;
    width: 100%;
    color: #1c2750;
}
label{
    padding: 0;
}
.save{
    width: 510px;
    text-align: right;

}
.save button{
    background-color: #1c2750;
    color: #fff;
    border: 1px solid #fff;
    padding: 13px 30px;
    border-radius: 25px;
}
.save button:hover{
    background-color: #e0eef6;
    color: #1c2750;
    
}

form{padding: 0;}

 .custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input::before {
  content: 'Browse';
  display: inline-block;
  
  color: #2dbdd3;
  outline: none;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 500;
  font-size: 16px;
}
.add-image{
    display: flex;
    justify-content: space-between;
}
.add-image p{
    width: 100%;
    padding: 0;
}
.add-image label{
    padding: 0 5px 0 0;
    color: #0097FF;
    cursor: pointer;
}
.add-image .in{
    padding: 0;
}
.add-image i{
    color: #0097FF;
}
.change-list ul{
    list-style: none;
    padding: 0;
    margin-bottom: 12px;
    padding: 7px;
    padding-left: 15px;
    border: 1px solid #1c2750;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline-color: #2dbdd3;
    width: 100%;
    color: #1c2750;
    font-size: 14px;
    display: none;
}

.change-list .modal-header{
    height: auto;
    background-color: #fff;
}
.change-list .modal-footer button{
    width: 48%;
}
.change-list .modal-header .btn-close{
    position: relative;
    bottom: 2px;
    background: none;
    color: #1c2750;
}

@media (max-width:468px) {
    .change-list .modal-footer button{
    width: 46%;
}
}







@media (max-width:895px){
    
    .whole{
        flex-wrap: wrap;
        justify-content: center;
    }
    
}

@media (max-width:430px) {
    .whole img{
        width: 300px;
    }
    .user-social{
        width: auto;
    }
    .user-social ul li p{
        font-size: 13px;
    }
}

@media (max-width:800px) {
    .save{
        width: auto;
    }
    .top{
        width: auto;
    }
    .name{
        flex-wrap: wrap;
        width:auto;
    }
    .setting{
        width: auto;
    }
    .names{
        width: 100%;
    }
    .names input{
        width: 100%;
    }
}

