
/* section style*/
.main{
    display: flex;
    justify-content: space-evenly; 
    flex-wrap: wrap;
    background-color: #E0EEF6;
    padding: 0;
    padding-bottom: 135px;
}
.form-content{
    background-color: #fff;
    width: 500px; 
    border-radius: 50% 50% 0 0; 
    margin-top: 75px;
    text-align: center;
    padding: 20px 0 0 0;
    
}

.form-content h2{
    margin-top: 40px;
}
.inputs{
    margin-top: 20px;
    padding: 0;
    
}
.just-width{
    width: 300px;
    margin-bottom: 12px;
    padding: 7px;
    padding-left: 15px;
    border: 1px solid #1c2750;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
}
.special-width{
    width: 147.5px;
    padding: 7px;
    padding-left: 15px;
    margin-bottom: 15px;
    border: 1px solid #1c2750;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
}
.create-btn{
    width: 100%;
    background-color: #1c2750;
    color: #fff;
    border: none;
    padding: 15px;
}

.check{
    text-align: left;
    margin-bottom: 17px; 
    position: relative; 
    left: 95px;
    width: fit-content;
}
.already{
    font-size: 14px;
    color: #21bfca;
    
}
.check a {
    text-decoration: none;
    color:#1c2750;
}

.info i{
    color: red;
    padding: 0;
    
}
.info p{
    padding: 0;
    margin: 0;
}





 @media (max-width:515px){
    .check{
        margin-left: auto;
        margin-right: auto;
        left: 8px;
    }
   

 }
 @media (max-width:440px){
    
    .just-width{
        width: 220px;
    }
    .special-width{
        width: 220px;
    }
    .info p{
        font-size: 14px;
    }
 }
