
/*Left side*/
.product-section{
    display: flex;
    justify-content: space-between ;
    flex-wrap: wrap;
    
}
.car {
    width: 50%;
    
}
.info{
    width:50%;
}
.img{
 
  height: 500px;
 
  margin: 10px 0;
  object-fit: scale-down;

}

.small-img{
  object-fit: contain;
  height: 50px;
}
.carousel-indicators [data-bs-target]{
    width: 50px;
    height: 5px;
}
.control{
    color: #1c2750; 
    font-size: 28px;
}

/*Right side*/

.breadcrumb {
    font-size: 12px;
    margin-bottom: 0;
}
.breadcrumb a{
    text-decoration: none;
    padding: 0;
}
.inforamtion h1{
    font-size: 22px;
    font-weight: 600;
}
.fa-star{
    color: rgb(255, 232, 29);
    padding: 0;
}
.fa-star-half-alt{
    color: rgb(255, 232, 29);
}
.product-price{
    font-size: 18px;
    font-weight: 600;
}
.nav-tabs{
    border-bottom: 3px solid #1c2750;
    padding: 0;
}
.nav-tabs a{
    color: #1c2750;
    font-weight: 600;
}
.nav-tabs .nav-link{
    border-radius: 0;
    border: none;
    padding: .8rem 1.5rem;
}
.nav-tabs .nav-link.active{
    color: #fff;
    background-color: #1c2750;
    border: 1px solid #1c2750;
}
.nav-tabs li{
    padding: 0;
}
.info-content{
    width: 85%;
}
.info-content .show{
    box-shadow:none;
}
.font-grey{
    color: #5a5a5a;
    text-align: justify;
}
.ov{
    height: 130px;
    overflow-y: scroll;
}
.ov::-webkit-scrollbar{
    display: none;
}
.btns{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    position: relative;
    bottom: 0;
}
.btns button{
    width: 45%;
    padding: 10px 0;
    border: 1px solid #1c2750;
    background-color: #1c2750;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
}

.features {
    list-style: none;
    padding-left: 0;
    height: 180px;
    overflow-y: scroll;
}
.features li {
    padding: 4px;
}
.features::-webkit-scrollbar{
    display: none;
}
.train p{
padding-bottom: 0;
margin-bottom: 5px;
}
.train a {
    text-decoration: none;
}
.train .btns{
    margin-top: 0;
    color: #21bfca;
}
q{
    color: #5a5a5a;
}

.submit-btn{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.submit-btn button{
    width: 20%;
    padding: 10px 0;
    border: 1px solid #1c2750;
    background-color: #1c2750;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
}

.submit-btn input{
    width: 70%;
    padding: 10px ;
    border: 1px solid #1c2750;
    outline: none;
}
.similar{
    margin-top: 20px;
}

.intro{
    color:  #21bfca;
    font-size: 14px;
    text-align: center;
}
.similar h3{
    text-align: center;
}

.caruasel-div {
    width:100%;
    height: 300px;
}
.single-product{
    width: 220px;
}
.caruasel-div img{
    width: 300px;
}
.carousel-item.active{
    display: flex;
    justify-content: center;
    
}

.carousel-item{
    display: none;
}
.similar img {
    width:100%; 
    height: 150px;
}

.caruasel-div h5{
    margin-bottom: 0;
    padding-bottom: 0;

}
.caruasel-div h5 a {
    text-decoration: none;
    color: #1c2750;
    padding: 0;
}
.price i{
       font-size: 12px;
       font-weight: 600;
}
.caruasel-div .rate{
    margin-bottom: 10px;
}
.price a{
    text-decoration: none;
    color:#1c2750;
    font-size: 16px;
}
.price {
    background-color:#1c2750;
    color: #fff;
    padding: 0;
    height: 35px;
    
    
}
.price p{
    margin-bottom: 0;
    padding-top: 0;
    
    overflow-y: hidden;

} 
.add-to-cart{
    background-color: #e0eef6;
    color:#1c2750;
    width:100%;
    text-align: center;
    height: 35px;
    opacity: 0;
    
}
.price-text{
    display: block;
    
}
.cart-icon{
    background-color: #e0eef6;
    color: #1c2750;
    
}
.price:hover .add-to-cart{
    opacity: 1;
    transition:  1s ease-in-out;
    
}
.price:hover .price-text{
    opacity: 0;
    display: none;
}
.price:hover {
    
    background-color: #e0eef6;
}

.similar .control {
    background-color: #e0eef6;
    padding: 10px 15px;
    border-radius: 50%;
}

.single-product:hover h5 a {
    color: #21bfca;
}

.pageone{
    display: flex;
}



.change-list .modal-header{
    height: auto;
    background-color: #fff;
}
.change-list .modal-footer button{
    width: 48%;
}
.change-list .modal-header .btn-close{
    position: relative;
    bottom: 2px;
    background: none;
    color: #1c2750;
}





@media (max-width:1189px) {
    .nav-tabs .nav-link{
    padding: .8rem .8rem;
}
    
}

@media (max-width:992px) {
    .car {
    width: 100%;
    
}
.info{
    width:100%;
    margin-top: 10px;
}
.img{
 
  height: 200px;
 
  margin: 10px 0;
  object-fit: scale-down;

}
.pageone{
    flex-wrap: wrap;
    flex-direction: column;
}
.caruasel-div {
    width:100%;
    height: auto;
}
}

@media (max-width:506px) {
    .nav-tabs li{
        width: 100%;
    }
    
    .btns button{
    width: 100%;
    padding: 10px 0;
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: 500;
}
.btns{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 0px;
    position: relative;
    bottom: 0;

}
.submit-btn{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    flex-wrap: wrap;
}
.submit-btn button{
    width: 100%;
    padding: 10px 0;
    font-size: 18px;
    font-weight: 500;
    margin-top: 10px;
}

.submit-btn input{
    width: 100%;
    padding: 10px ;

    outline: none;
}

.breadcrumb{
    position: relative;
    bottom: 135px;
}
.inforamtion h1{
    position: relative;
    bottom: 260px;
}
.rating{
    position: relative;
    bottom: 265px;
}
.product-price{
    position: relative;
    bottom: 260px;
    margin: 0;
}
.car{
    position: relative;
    top:175px;
}
.info-content{
    position: relative;
    top: 40px;
    width: 100%;
}

.similar .control {
    background-color: #fff;
    padding: 0;
    border-radius: 0;
}


}























