.software-room{
    width: 100%;
    background-image: url("8.jpg");
    height: 470px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    
    
}
.software-room h3{
    padding-left:15px ;
    font-family: 'Arimo', sans-serif;
    letter-spacing: 2px;
    color: #08163e;
}

.parent{
    display: grid;
    grid-template-areas: "side . main . ";
    grid-template-columns: 300px 80px auto;
    margin-top: 30px;
    padding: 0;
}
.side{
    grid-area: side;
     
   color: #fff;
   padding: 0;
margin-right: 10px;
}
.main{
    grid-area: main;
    padding: 0;
   
}
.search{
    grid-area: search;
    margin-right: 10px;
}
.search-span{
    padding: 21px;
    background-color: #e0eef6;
    color:#1c2750;
}
.shop{
    background-color: #e0eef6;
    padding: 20px;
    color: #1c2750;
    font-weight: 600;
    font-size: larger;
}
.category{
    padding: 20px;
    background-color: #1c2750;
    color: #fff;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
}
.category p{
    padding: 0;
    margin: 0;
}
.category span{
    padding: 0;
    margin: 0;
}
.category span i {
    display: none;
}
.list{
    background-color: #e0eef6;
    color: #1c2750;
}
.list ul{
    list-style: none;
}
.list i{
    color: #1c2750
}
.all-lists{
    cursor: pointer;
    font-weight: 600;
}
.parent-product{
    display: grid;
    grid: 493.9px/ auto auto auto;
    padding: 0;
    row-gap: 25px;
    column-gap: 10px;
}
 



.main-div{
    width: 300px;
    box-shadow:2px 2px 5px #ccc;
    position: relative;
    height: fit-content;
    padding: 0;
}
.main-div img{
    width: 100%;
    height: 200px;
    padding: 0;
}
.products h2{
    text-align: center;
}
.name-product{
    padding: 5px 5px 0 5px;
}
.name-product h4{
    margin-bottom: 0;
    overflow-y: hidden;
    height: 38.8px
}

.name-product i{
    color: rgb(255, 232, 29);
    padding: 0;
}
.name-product p{
    text-align: justify;
    height: 82px;
    overflow-y: hidden;
    margin-bottom: 5px;
    font-size: 14px;
    color: #5a5a5a;
}
.more-des{
    display: flex;
    margin-bottom: 15px;
}

.more-des a{
    color:#1c2750 ;
}
.more-des a:hover{
    color:#21bfca ;
    transition: all .2s ease-in;
}
.price h5{
    margin-bottom: 0;
}
.price i{
    padding-top: 15px;    
}
.price a{
    text-decoration: none;
    color:#1c2750;
}
.price {
    background-color:#1c2750;
    color: #fff;
    padding-bottom: 0;
    height: 70px;
    padding-right: 0;
    padding-top: 0;
    padding: 0 0 0 15px;
}
.price p{
    margin-bottom: 0;
    padding-top: 0;
    
} 
.add-to-cart{
    background-color: #e0eef6;
    color:#1c2750;
    width:100%;
    text-align: center;
    padding-top: 23px;
    opacity: 0;
    font-weight: 600;
}
.price-text{
    display: block;
    padding-left: 10px;
}
.cart-icon{
    background-color: #e0eef6;
    color: #1c2750;
}
.price:hover .add-to-cart{
    opacity: 1;
    transition:  .5s ease-in-out;
}
.price:hover .price-text{
    opacity: 0;
    
}
.price:hover {
    padding-left: 0;
    background-color: #e0eef6;
}
.main-div:hover{
    box-shadow:2px 2px 5px #ccc , -1px -1px 3px #ccc;
    transition: all .2s ease-in;

}
.child{
        margin-bottom: 15px;
    }
.rotate{
    transform: rotate(-90deg);
}



.bread{
    padding-left: 0;
}
.bread li {
    padding-left: 0;
}

.bread a{
    text-decoration: none;
}

















@media (max-width: 1024px) {
    .list{
        display: none;
    }
    .category span i {
    display: block;
    }
    .parent{
    display: grid;
       grid-template-areas: 
       "side"
       "main"
       ;
    
    grid-template-columns: auto;
    margin-top: 30px;
    }
    

}
@media (max-width:1318px) {
    .parent-product{
    display: grid;
    grid: 493.9px/ auto auto;
    
    padding: 0;
    row-gap: 25px;
    column-gap: 10px;
    justify-content: center;
}
}

@media (max-width:660px) {
    .parent-product{
    display: grid;
    grid: 493.9px/ auto;
    
    padding: 0;
    row-gap: 25px;
    justify-content: center;
}
.software-room{
    height: auto;
    padding: 35px 0;
    background-blend-mode: screen;
    background-color: rgba(255,255,255,0.5);
    justify-content: center;
}
.software-room h3{
    font-size: 18px;
}




}











