
.whole{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.side{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.side img{
    width: 500px;
    height: 500px;
}
.content{
    width: 510px;
    
}
.about{
    padding: 10px;
    width: 400px;
    position: relative;
    top: 15px;
}
.about .line{
    border-top: 3px solid #ccc;
    margin: 0;
    margin-left: 4px;
    margin-top: 4px;
    width: 60px;
    
}
.about h4{
    margin-bottom: 0;
    padding-bottom: 0;
    font-weight: 600;
}
.head-table{
    padding: 0;
    position: relative;
    top:7px;
    display: flex;
    justify-content: space-between;
    width: 100%;

}
.head-table .line{
    position: absolute;
    top:33px
}
.total{
    display: flex;
    justify-content: space-between;
    width: 510px;
    padding: 15px;
    border: 5px dashed #e0eef6;
    margin-top: 40px;
}
.total p {
    padding: 0;
    margin: 0;
    font-size: 20px;
    font-weight: 500;
}
.total p:last-child{
    font-weight: 600;
}
.words p{
    font-size: 14px;
}

.standard{
    padding: 0;
    
}
.standard p{
    padding: 0;
    margin: 0 0 10px 0;
    font-weight: 500;
}
.standard input{
    margin-bottom: 12px;
    padding: 7px;
    padding-left: 15px;
    border: 1px solid #1c2750;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline-color: #2dbdd3;
    width: 100%;
    color: #1c2750;
}

.top{
    position: relative;
    top: 33px;
    width: 510px;
}
form{padding: 0;}

.info{
    display: flex;
}
.info i{
    color: red;
    padding: 0;
    
}
.info p{
    padding: 0;
    margin: 0;
}
.info a{
    text-decoration: none;
    color: #0097FF;
    padding: 0;
}
.save{
    width: 510px;
    text-align: right;

}
.save button{
    background-color: #1c2750;
    color: #fff;
    border: 1px solid #fff;
    padding: 6px 30px;
    
}
.save button:hover{
    background-color: #e0eef6;
    color: #1c2750;
    
}
.total i{
    color: rgb(255, 232, 29);
}

/*modal*/
.modal-header{
    background-image: url("10.jpg");
    height: 200px;
    background-size: cover;
    background-color: rgba(28, 39, 80, 0.7);
    background-blend-mode: soft-light;
}
.modal-content{
    padding: 0;
}
.contact-header{
    width: 100%;
    text-align: center;
}
.modal-header .btn-close{
    position: relative;
    bottom: 80px;
    background:none;
    color: #fff;
    transform: scaleX(1.4);
    font-size: 18px;
    opacity: 1;
    box-shadow: none;
}

.contact-header p{
    margin: 0;
    font-weight: 600;
    color:#fff;
}
.contact-header h4{
    font-weight: bold;
    color:#fff;
}
.modal-body input{
    width: 100%;
    margin-bottom: 12px;
    padding: 7px;
    padding-left: 15px;
    border: 1px solid #1c2750;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
    font-size: 14px;
}

.modal-body textarea{
    width: 100%;
    margin-bottom: 12px;
    padding: 7px;
    padding-left: 15px;
    border: 1px solid #1c2750;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
    font-size: 14px;
}

.modal-body h5{
    font-size: 18px;
}
.modal-body{
    padding-bottom: 0;
}
.modal-footer button{
    width: 100%;
    color: #fff;
    background-color: #1c2750;
    border: none;
}
.modal-footer button:hover{
    color:#1c2750;
    background-color: #e0eef6;
}

.modal-footer{
    border: none;
    padding-top:0 ;
}













@media (max-width: 575.98px) { 
    
    .info p{
        font-size: 12px;
    }

}
@media (max-width:550px) {
    .side img{
    width: 320px;
    height: 350px;
}
.content{
    width: auto;
    
}
.whole{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.about{
    padding: 0px;
    width: auto;
    position: relative;
    top: 15px;
}
.total{
    width: auto;
}
.save{
    width: auto;
}
.top{
    width: auto;
}
.total p{
    font-size: 18px
}



}
@media (max-width:350px) {
    .info a{
        position: relative;
        left:15px
    }
}